<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('header') %>
    <div class="container">
      <div class="row">
        <div class="container" style="height:400px">
          <canvas id="humid"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="container" style="height:400px">
          <canvas id="temp"></canvas>
        </div>
      </div>
    </div>
</body>
<%- include('boostrap_script') %>
  <%- include('control') %>
    <%- include('chart') %>
      <%- include('polling') %>

</html>
