<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('header') %>
    <div class="container">
      <div class="row">
        <div class="container" style="height:400px">
          <canvas id="light"></canvas>
        </div>
      </div>

      <div class="container row-buffer row d-flex">
        <div class="col">
          <div class="row">
            <div class="direction"></div>
            <button class="btn mx-3 direction btn-secondary" onclick="up()">
              <i class="bi bi-arrow-up-circle"></i>
            </button>
            <div class="direction"></div>
          </div>
          <div class="row row-buffer">
            <button class="btn direction btn-secondary" onclick="left()">
              <i class="bi bi-arrow-left-circle"></i>
            </button>
            <button class="btn mx-3 direction btn-danger rounded-circle" onclick="stop()">
              <i class="bi bi-stop-circle"></i>
            </button>
            <button class="btn direction btn-secondary" onclick="right()">
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </div>
          <div class="row row-buffer">
            <div class="direction"></div>
            <button class="btn mx-3 direction btn-secondary" onclick="down()">
              <i class="bi bi-arrow-down-circle"></i>
            </button>
            <div class="direction"></div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex" style="height: 140px">
            <div class="col-9">
              <div class="row">
                <div style="width: 100px">
                  <label for="vertical_range" class="form-label">Vertical</label>
                </div>
                <div class="d-flex">
                  <input type="range" class="form-range" id="vertical_range" min="0" max="180" step="1"
                    onchange="vertical_range_handle()" style="width: 300px">
                  <output id="vertical_range_value">50</output>
                </div>
              </div>
              <div class="row">
                <div style="width: 100px">
                  <label for="horizontal_range" class="form-label">Horizontal</label>
                </div>
                <div class="d-flex">
                  <input type="range" class="form-range slider" id="horizontal_range" min="0" max="180" step="1"
                    onchange="horizontal_range_handle()" style="width: 300px">
                  <output id="horizontal_range_value">50</output>
                </div>
              </div>

            </div>
            <button style="height:50px" class="col-3 btn btn-primary mt-5 ml-3" onclick="sendAngle()">Send</button>
          </div>
          <div class="d-flex">
            <div class="font-weight-normal" style="width:180px;">
              Current mode:
            </div>
            <div id="mode">Auto</div>
          </div>
          <div class="d-flex row-buffer">
            <div class="font-weight-normal" style="width: 180px;">
              Current light intensity:
            </div>
            <div id="light">180</div>
          </div>
        </div>

      </div>
    </div>

    </div>
</body>
<%- include('boostrap_script') %>
  <%- include('control') %>
    <%- include('chart') %>
      <%- include('polling') %>

</html>
